body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #183351 50%, #bcbec4 50%);
    height: 100vh;
    font-family: Arial;
    overflow: hidden;
  }

  .container1 {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: rgb(197, 197, 197);
    font-size: 45px;
    margin-bottom: -40px;
    margin-top: 20px;
  }

  .container2 {
    display: flex;
    justify-content: center;
  }

  .at {
    color: rgb(197, 197, 197);
    font-size: 45px;
    margin-right: 10px;
  }

  .phone {
    width: 40px;
    height: 40px;
    margin-top: 50px;
  }

  .number {
    color: red;
    font-family: "Helvetica";
    font-size: 45px;
    margin-left: 10px;
  }

  .block {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 10px;
    width: 100%;
  }

  .block2 {
    display: flex;
    flex-direction: column;
  }

  .image1 {
    display: flex;
    background-size: cover;
    width: 350px;
    height: 300px;
    margin-bottom: 10px;
    background-image: url("./bnbn.jpg");
  }

  .night {
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text1 {
    margin-top: 40%;
    margin-left: 22%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .container3 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }

  .image2 {
    width: 170px;
    height: 140px;
    margin-right: 10px;
    display: flex;
    background-size: cover;
    background-image: url("./tt.jpg");
  }

  .night2 {
    width: 170px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text2 {
    margin-top: 30%;
    margin-left: 25%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .image3 {
    width: 170px;
    height: 140px;
    display: flex;
    background-size: cover;
    background-image: url("./jhjhjh.jpg");
  }

  .night3 {
    width: 170px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text3 {
    margin-top: 30%;
    margin-left: 25%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .block3 {
    display: flex;
    flex-direction: column;
  }

  .container4 {
    display: flex;
    flex-direction: row;
  }

  .image4 {
    width: 170px;
    height: 140px;
    margin-bottom: 10px;
    margin-left: 10px;
    display: flex;
    background-size: cover;
    background-image: url("./jkkjjk.jpg");
  }

  .night4 {
    width: 170px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text4 {
    margin-top: 30%;
    margin-left: 15%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .image5 {
    margin-left: 10px;
    margin-bottom: 10px;
    width: 170px;
    height: 140px;
    display: flex;
    background-size: cover;
    background-image: url("./rtrt.jpg");
  }

  .night5 {
    width: 170px;
    height: 140px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text5 {
    margin-top: 30%;
    margin-left: 11%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .container5 {
    display: flex;
  }

  .image6 {
    width: 350px;
    height: 300px;
    margin-left: 10px;
    margin-bottom: 15px;
    display: flex;
    background-size: cover;
    background-image: url("./nbn.jpg");
  }

  .night6 {
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .text6 {
    margin-top: 38%;
    margin-left: 24%;
    font-size: 35px;
    color: white;
    z-index: 2;
  }

  .block4 {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: rgb(24, 24, 24);
    font-style: italic;
  }
